:root {
    --accentcolor-1: #7ea656;
    --accentcolor-2: #820001;
    --accentcolor-1-light: #cedebf;
    --accentcolor-2-light: #e4c5c5;
    --fontfam-headings: "Hanken Grotesk", Arial, sans-serif;
    --fontfam-text: "Montserrat", Arial, sans-serif;
}

.cornerimg {
    position: fixed;
    top: 0;
    right: 0;
    width: min(45px, 20%);
    z-index: -1;
}

h1, h2 {
    font-family: var(--fontfam-headings);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-family: var(--fontfam-headings);
    color: #323331;
    font-size: 18px;
}

a {
    color: var(--accentcolor-2);
    transition: .2s ease;
}

    a:hover {
        color: #53cb8f;
    }

#.titleCont {
    #margin: 250px 0 100px;
    #
}

.titleCont h1 {
    background-image: url('images/cotton.png');
    font-size: 40px;
}

.slogan {
    font-size: 22px;
}

.cont-column {
    width: min(100%, 1000px);
    margin: auto;
}

.tableCont {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.eventsTable {
    border-collapse: collapse;
    width: 100%;
    background-image: url('images/cotton.png');
}

    .eventsTable thead {
        background-image: url('images/brownpaper.png');
        font-weight: bold;
    }

    .eventsTable th {
        padding: 8px;
        font-family: var(--fontfam-text);
        text-align: left;
    }

    .eventsTable td {
        padding: 8px;
        font-family: var(--fontfam-text);
    }

    .eventsTable tr {
        transition: .3s ease;
    }

        .eventsTable tr:nth-child(even) {
            background-color: #d5e8f0;
        }

.hidden {
    visibility: hidden;
}

.removed {
    display: none;
}

.eventsTable tbody tr:hover {
    background-color: #53cb8f;
    cursor: pointer;
}

.eventsTable tr:hover span {
    visibility: visible;
}

.impactCont {
    width: 20%;
    margin: 50px auto;
    text-align: center;
}

    .impactCont img {
        width: 100%;
    }

.LanguageFlag {
    padding: 2px 10px;
}

.Highlighted {
    background-image: url('images/brownpaper.png');
}

@media screen and (max-width: 1000px) {
    span.EventLocationDetails {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    span.hide-small, th.EventLongDate, td.EventLongDate {
        display: none;
    }
    th.EventShortDate, td.EventShortDate {
        display: table-cell;
    }
}
